<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'/>
    <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1.0'/>

    <link href='/WebRoot/css/materialize.min.css' type='text/css' rel='stylesheet' media='screen, projection'/>
    <link href='/WebRoot/css/materialize.supplement.css' type='text/css' rel='stylesheet' media='screen, projection'/>
</head>
<body>
    <main>
        <div class="section blue accent-2" id="index-banner">
            <div class="container">
                <div class="row">
                    <div class="col s12 m9">
                        <h1 class="header white-text center-on-small-only">起始页</h1>
                        <h4 class ="light blue-text text-lighten-5 center-on-small-only">关于可视化实验设计辅助工具</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <!--  Outer row  -->
            <div class="row">
                <div class="col s12 m9 l10">
                    <p style='font-size: 36px; font-weight:bold;'>实验流程的解耦合</p>
                    <p style='text-indent: 2em;'>
                        模仿面向文档的业务流程管理，以实验流程生成的文件驱动流程的推进。
                    </p>
                    <p style='font-size: 36px;font-weight:bold;'>根据用户的实际需求订制化开发</p>
                    <p style='text-indent: 2em;'>
                        根据用户的功能性需求或领域需求等，开发并集成所需的实验设计方法工具。
                    </p>
                    <p style='font-size: 36px;font-weight:bold;'>仍有诸多可改进的地方</p>
                    <p style='text-indent: 2em;'>
                        动态配置实验设计方法插件库、实验设计方法插件库管理器选用脚本语言引擎实现、实验设计方法插件库选用脚本语言实现、更加复杂的数据建模技术与工具、量纲分析、在数据模型中嵌入表达式、跨实验联动操作分析数据、引入更加复杂的实验数据统计分析工具……
                    </p>
                </div>
            </div>
        </div>
    </main>
    <!-- Other / Dialogs: end -->

    <!-- Scripts -->
    <script src='/WebRoot/js/libs/jquery-3.2.1.min.js' type='text/javascript'></script>
    <script src='/WebRoot/js/libs/materialize.min.js' type='text/javascript'></script>
    <script src='/WebRoot/js/libs/qwebchannel.js' type='text/javascript'></script>

    <script src='/WebRoot/js/public.js' type="text/javascript"></script>
    <script src='/WebRoot/js/views/HomeView.js' type='text/javascript'></script>
</body>
</html>
